.badge {
    background-color: tomato;
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header__icons__dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    right: 18px;
    top: 50px;
}