.header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 20px;
}

.header__icons span {
    position: relative;
    margin-left: 20px;
}